body {
  margin: 0;
  font-family: Arial;
  background: #0b0b0b;
  color: white;
  text-align: center;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 15px;
}

span {
  color: orange;
}

.hero h1 {
  font-size: 32px;
}

.tabs button {
  margin: 10px;
  padding: 10px 20px;
  border-radius: 20px;
  border: none;
}

textarea, input {
  width: 80%;
  height: 100px;
  margin: 15px;
  border-radius: 10px;
}

.generate {
  background: linear-gradient(to right, red, orange);
  border: none;
  padding: 15px 30px;
  border-radius: 30px;
  color: white;
  font-size: 16px;
}

.hidden {
  display: none;
}
